@keyframes fade {
  0% { opacity: 0; }
  25% { opacity: 0.1; }
  50% { opacity: 0.3; }
  75% { opacity: 0.6; }
  100% { opacity: 1; }
}

@keyframes slide-in-left {
  0% {transform: translateX (0%)}
  100% {transform: translateX (-100%)}
}

.carouselContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  /* height: 100vw; */
  min-height: 100vw;
  padding: 0px;

  outline: 1px solid #F39C12;
  outline-offset: -10px;

  font-size: calc(5vw / 2);
  color: white;
  letter-spacing: 10px;
  font-weight: 100;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.carouselMedia {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.active {
  animation: fade ease-in-out 0.75s;
}

.inactive {
  display: none;
}

@media only screen and (min-width: 768px) {

  .carouselContainer {
    width: 50vw;
    /* height: 50vw; */
    min-height: 50vw;

    outline-offset: -25px;

    animation: slide-in-left ease-in-out 0.75s;
  }

  .carouselContainer:hover {
    outline: 1px solid white;
  }

  #panoCarouselContainer {
    width: 100vw;
    outline: none;
  }

  #panoCarouselContainer {
    outline: none;
  }

 .panoCarouselMedia {
    width: 75%;
    height: 75%;

    box-shadow: 10px 10px 10px rgba(243, 156, 18, 0.5); 
  }

}
