@keyframes fade {
  0% { opacity: 0; }
  25% { opacity: 0.1; }
  50% { opacity: 0.3; }
  75% { opacity: 0.6; }
  100% { opacity: 1; }
}

@keyframes slide-in-left {
  0% {transform: translateX (0%)}
  100% {transform: translateX (-100%)}
}

.carouselContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* outline: 1px solid #F39C12;
  outline-offset: -10px; */

  font-size: calc(5vw / 2);
  color: white;
  letter-spacing: 10px;
  font-weight: 100;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.carouselMedia {
  /* height: 100%;
  width: 100%; */
  object-fit: cover;

  outline: 1px solid #F39C12;
  outline-offset: -25px;
}

.active {
  animation: fade ease-in-out 0.75s;
}

.inactive {
  display: none;
}

@media only screen and (min-width: 768px) {

  .carouselContainer {
    /* outline-offset: -25px; */
    animation: slide-in-left ease-in-out 0.75s;
  }

  .carouselMedia:hover {
    outline: 1px solid white;
  }

  .carouselMedia {
    outline-offset: -18px;
  }

}
