@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.section {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100vw;
  /* height: auto; */
}

#watch-section {
  height: calc(56.25vw);
}

#player {
  max-width: none !important;
}

#mission-section {
  height: 100vh;
  max-height: 1080px;
  background-color: white;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
