.layout-container {
  /* width: 100vw; */
  /* height: 100vh; */
  overflow-x: hidden;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url('/images/logos/AWOKEN-logo-seamless-pattern-white.png');
  background-size: contain;
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;

  /* background-color: #F39C12; */

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;

}

.main-container {
    width: 100%;
    min-height: calc(100vh - 75px);

    position: relative;
    top: 75px;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
}

section, .section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  /* width: 100vw; */
}



  @media only screen and (min-width: 375px) {

  }
  
  @media only screen and (min-width: 481px) {
  
  }
  
  @media only screen and (min-width: 768px) {
  
  }
  
  @media only screen and (min-width: 1024px) {
    .main-container {
      min-height: calc(100vh - 80px);
      top: 80px;
    }
  }
  
  @media only screen and (min-width: 1200px) {
  
  }
  
  @media only screen and (min-width: 1600px) {
  
  }