.layout-container {
  /* overflow-x: hidden; */
  
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url('/optimized-images/logos/AWOKEN-logo-seamless-pattern-white.webp');
  background-size: contain;
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;

  /* background-color: #F39C12; */

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;

}

.main-container {
    width: 100%;
    min-height: calc(100vh - 75px);

    position: relative;
    top: 75px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
}

section, .section {
  min-height: 135vh;
  /* min-height: auto; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  scroll-margin-top: 75px;
}

.animationContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}



  @media only screen and (min-width: 375px) {

  }
  
  @media only screen and (min-width: 481px) {
  
  }
  
  @media only screen and (min-width: 768px) {
  
  }
  
  @media only screen and (min-width: 1024px) {

    .main-container {
      min-height: calc(100vh - 80px);
      top: 80px;
    }

    section, .section {
      /* min-height: 100vh; */
      scroll-margin-top: 80px;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    section, .section {
      min-height: 80vh;
    }
  }
  
  @media only screen and (min-width: 1600px) {
  
  }