/* General Containers */

.appSection {
  width: 100%;
  min-height: 100%;
  padding-block: 4rem;

  background-color: #152c46;
  background-color: white;
}

.appContentContainer {
  width: min(90%, 1200px);
  min-height: 100%;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;

  row-gap: 4rem;
  column-gap: 4rem;
}

/* Text */

#appTextSubsection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  column-gap: 1.5rem;
  row-gap: 1rem;

  max-width: 75ch;
  height: 100%;
}

.appText {
  font-weight: 300;
  text-align: left;
}

.appTitle {
  font-size: clamp(1.75rem, 5vw, 3.5rem);
  line-height: 1;
  font-weight: 300;
  margin-bottom: 0.5rem;

  color: #F39C12;
}

.appSubtitle {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  line-height: 1.5;
  color: #152c46;
}

.appList {
  font-size: clamp(0.75rem, 1.5vw, 1rem);
  line-height: 2;
}

.appImageContainer {
  width: 100%;
  /* height: min(calc(70vh - 4rem), 90vw); */
  /* max-height: 32rem; */
  max-width: 32rem;
  height: auto;
  aspect-ratio:  1 / 1;
  position: relative;
}

.appImage {
  /* height: 100%;
  width: 100%; */
  object-fit: cover;
}


@media only screen and (min-width: 1280px) {

/* General  */

  .appSection {
    min-height: 70vh;
  }

  .appContentContainer { 
    flex-direction: row;
    align-items: flex-start;
  }

}
