/* General Containers */

.workplaceSection {
  width: 100%;
  min-height: 100%;
  padding-block: 4rem;

  background-color: #152c46;
}

.workplaceContentContainer {
  width: min(90%, 1200px);
  min-height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  row-gap: 4rem;
  column-gap: 4rem;
}

/* Text */

#workplaceTextSubsection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  column-gap: 1.5rem;
  row-gap: 1rem;

  max-width: 75ch;
  height: 100%;
}

.workplaceText {
  font-weight: 300;
  text-align: left;
}

.workplaceTitle {
  font-size: clamp(1.75rem, 5vw, 3.5rem);
  line-height: 1;
  font-weight: 300;
  margin-bottom: 0.5rem;

  color: #F39C12;
}

.workplaceSubtitle {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  line-height: 1.5;
  color: white;
}

/* Carousel */


#workplaceCarouselContainer {
  /* width: auto;
  height: min(calc(70vh - 4rem), 90vw);
  max-height: 32rem;
  aspect-ratio:  1 / 1; */

  width: 100%;
  max-width: 32rem;
  height: auto;
  aspect-ratio:  1 / 1;
  position: relative;

  outline: 1px solid #F39C12;
  outline-offset: -10px;
}

@media only screen and (min-width: 1280px) {

  .workplaceSection {
    min-height: 70vh;
  }

  .workplaceContentContainer { 
    flex-direction: row;
    align-items: flex-start;
  }

  #workplaceCarouselContainer {
    outline-offset: -18px;
  }

}