#watchSection {
  width: 100%;
  min-height: 70vh;
  padding-block: 4rem;

  background-color: #F39C12;
}

.watchContentContainer {
  width: min(90%, 1200px);
  min-height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.watchTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding-bottom: 2rem;

  column-gap: 1.5rem;
  row-gap: 1rem;
}

.watchText {
  max-width: 75ch;

  font-size: clamp(1.75rem, 5vw, 3.5rem);
  line-height: 1;
  font-weight: 300;
  text-align: center;

  color: white;
}

.videoWrapper {
  height: auto;
  width: 70%;
  aspect-ratio: 16 / 9;
}

.videoWrapper:hover {
  width: 90%;
}

.video {

  height: 100%;
  width: 100%;
  object-fit: cover;
}