#quotesSection {
  width: 100%;
  min-height: 70vh;
  padding-block: 2rem;

  background-color: #F39C12;

  outline-offset: -10px;
  outline: 1px solid white;

}

.quotesContentContainer {
  width: min(90%, 1200px);
  min-height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quoteText {
  font-size: clamp(1.75rem, 5vw, 3.5rem);

  color: white;
  letter-spacing: 2px;

  max-width: 75ch;
  text-align: center;
}

.quote {
  font-weight: 300;
}

.quoteAuthor {
  
  display: inline-block;
  margin-top: 0.5rem;

  font-size: clamp(1rem, 2.5vw, 1.5rem);
  font-weight: 100;
}

.quote::before {
  content: open-quote;
  color: white;
}

.quote::after {
  content: close-quote;
  color: white;
}

#quotesCarouselContainer {
  outline: 1px solid transparent;
}

@media only screen and (min-width: 768px) {
  #quotesSection {
    /* min-height: 50vh; */
    outline-offset: -25px;
  }


}
