#panoramaSection {
  width: 100%;

  min-height: calc(min(90vw, 1200px)* 0.9* 9 / 16 + 8rem + 6rem);
  padding-block: 4rem;

  background-color: #F39C12;

  justify-content: flex-start;
}

.panoramaContentContainer {
  width: 100%;  
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}

.panoramaTextContainer {
  width: min(90%, 1200px);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding-bottom: 2rem;

  column-gap: 1.5rem;
  row-gap: 1rem;
}

.panoramaText {
  max-width: 75ch;

  font-size: clamp(1.75rem, 5vw, 3.5rem);
  line-height: 1;
  font-weight: 300;
  text-align: center;

  color: white;
  /* color: #F39C12; */
}

#panoramaTitle {
  font-size: clamp(1.75rem, 5vw, 3.5rem);
  line-height: 1;
  margin-bottom: 0.5rem;
}

#panoramaSubtitle {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  line-height: 1.5;
}

.panoCarouselContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  width: min(100%, 1200px);
  height: 50vh;
  padding-block: 2rem;


  position: relative;
  overflow: hidden;
}

.panoCarouselSliderContainer {

  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  width: calc(100%);
  height: 100%;

  /* NEW */
  height: 50vh;
  overflow: hidden;
  position: relative;
}

.panoCarouselButton {
  background: none;
  border: none;

  width: 4rem;
  height: calc(80% - 3rem);
  padding: 0.25rem;

  color: white;
  font-size: 2rem;

  cursor: pointer;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;

  display: flex;
  align-items: center;
}

.leftArrow {
  left: 0;
  justify-content: flex-start;
  /* background: linear-gradient(to right, rgba(243, 156, 18, 1), rgba(243, 156, 18, 1), rgba(243, 156, 18, 1), rgba(243, 156, 18, 0)); */
}

.rightArrow {
  right: 0;
  justify-content: flex-end;
  /* background: linear-gradient(to left, rgba(243, 156, 18, 1), rgba(243, 156, 18, 1), rgba(243, 156, 18, 1), rgba(243, 156, 18, 0)); */
}

/* .leftArrow:hover {
  background: linear-gradient(to right, rgba(21, 44, 70, 1), rgba(21, 44, 70, 1), rgba(21, 44, 70, 1), rgba(21, 44, 70, 0));
}

.rightArrow:hover {
  background: linear-gradient(to left, rgba(21, 44, 70, 1), rgba(21, 44, 70, 1), rgba(21, 44, 70, 1), rgba(21, 44, 70, 0));
} */

.panoCarouselMedia {

  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 80%;
  transform: translate(50%, 50%);
  transition: transform 0.6s ease, opacity 0.6s ease, z-index 0.3s ease;
}

.pnlm-container {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border: solid white 5px;
}

.panoCarouselMedia > div:first-child {
  border-radius: 1rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border: solid white 10px;
}


