#panoramaSection {
  width: 100%;
  min-height: calc(min(90vw, 1200px)* 0.9* 9 / 16 + 8rem + 6rem);
  padding-block: 4rem;

  background-color: #F39C12;

  justify-content: flex-start;
}

.panoramaContentContainer {
  width: min(90%, 1200px);
  min-height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.panoramaTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding-bottom: 2rem;

  column-gap: 1.5rem;
  row-gap: 1rem;
}

.panoramaText {
  max-width: 75ch;

  font-size: clamp(1.75rem, 5vw, 3.5rem);
  line-height: 1;
  font-weight: 300;
  text-align: center;

  color: white;
}

#panoramaTitle {
  font-size: clamp(1.75rem, 5vw, 3.5rem);
  line-height: 1;
  margin-bottom: 0.5rem;
}

#panoramaSubtitle {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  line-height: 1.5;
}

#panoCarouselContainer {
  height: auto;
  width: 70%;
  aspect-ratio: 16 / 9;
  padding-top: 2rem;

  outline: none;
}

#panoCarouselContainer:hover {
  width: 80%;
  padding-top: 0rem;
}

.panoCarouselMedia {
  border-radius: 1rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);

  /* filter: grayscale(100%) contrast(1.5) brightness(0.9);
  mix-blend-mode: multiply;
  background-color: #F39C12;

  position: relative; */
}

.panoCarouselMedia:hover {

  /* filter: none;;
  mix-blend-mode: revert;
  background-color: transparent; */
}

/* .panoCarouselMedia::before {
  content: "";
  display: inline-block;
  position: absolute;
  z-index: 3;

  width: 100%;
  height: 100%;

  outline: 1px solid white;
  outline-offset: -10px;
}

.panoCarouselMedia:hover::before {
  display: none;
} */

.panoCarouselMedia::after {
  /* content: "";

  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;

  inset: 0;

  background: #ec7009; 
  mix-blend-mode: screen; 
  opacity: 0.8; 

  border-radius: 1rem;

  z-index: 2; */

  /* opacity: 0;
  transform: translateY(2rem);
  animation: fadeUpPsuedo 1s ease forwards;
  animation-delay: calc(var(--index) * 500ms); */
}

/* .panoCarouselMedia:hover::after {
  display: none; 
} */

.panoCarouselMedia div {
  border-radius: 1rem;
}

@media only screen and (min-width: 768px) {

  /* .panoCarouselMedia::before {
    outline-offset: -25px;
  } */

}