#outpostSection {
  width: 100%;
  min-height: calc(min(90vw, 1200px)* 0.9* 9 / 16 + 8rem + 6rem + 2rem);
  padding-block: 4rem;

  background-color: #F39C12;

  justify-content: flex-start;
}

.outpostContentContainer {
  width: min(90%, 1200px);
  min-height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.outpostTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding-bottom: 2rem;

  column-gap: 1.5rem;
  row-gap: 1rem;
}

.outpostText {
  max-width: 75ch;

  font-size: clamp(1.75rem, 5vw, 3.5rem);
  line-height: 1;
  font-weight: 300;
  text-align: center;

  color: white;
}

#outpostTitle {
  font-size: clamp(1.75rem, 5vw, 3.5rem);
  line-height: 1;
  margin-bottom: 0.5rem;
}

#outpostSubtitle {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  line-height: 1.5;
}

.videoWrapper {
  height: auto;
  width: 70%;
  aspect-ratio: 16 / 9;
  padding-top: 2rem;

  overflow: hidden;
}

.videoWrapper:hover {
  width: 80%;
  padding-top: 0rem;
}

.videoWrapper mux-player {
  position: relative;
  left: 1px;
}

.video {

  height: 100%;
  width: 100%;
  object-fit: cover;
}