.navContainer {
  position: fixed;
  top: 0;
  z-index: 5;

  width: 100%;
  max-width: 100svw;
  height: calc(75px);
  padding: 0.5rem 2rem;
  background: #F39C12;

  display: flex;
  justify-content: space-between;
  align-items: center;

  backdrop-filter: blur(10px);
  transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Logo Container */
.navLogoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  text-decoration: none;
}

.navLogoContainer svg {
  transform: scale(0.5);
  transform-origin: left;
}

.navLogoTitle {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .navContainer {
    height: calc(100px - 20px);
  }

  .navLogoContainer svg {
    transform: scale(1);
  }

  .navLogoTitle {
    display: inline-block;
    font-size: clamp(1rem, 2.5vw, 1.5rem);;
    line-height: 1.5;
    font-weight: 300;
    color: white;
    margin: 0 1rem;

    text-decoration: none;
  }

  .boldText {
    display: inline;
    font-weight: 400;
  }

  .logoCopyNav {
    display: inline-block;
    margin-left: 25px;
  }

}

.slideInTopNav {
  -webkit-animation: slide-in-top-nav 0.5s ease-out both;
  animation: slide-in-top-nav 0.5s ease-out both;
}
/* Nav.module.css */
.slideInTopNav {
  animation: slideInTopNav 0.5s ease-out both;
}

@keyframes slideInTopNav {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}