.desktopNavLinksContainer {
  display: none;
}

/* Mobile Menu */
.mobileMenuHidden {
  display: none;
}

.mobileMenuVisible {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  position: fixed;
  top: 75px;
  z-index: 5;

  width: calc(100vw);
  width: 100%;
  height: calc(100vh - 75px);
  overflow: hidden;

  background-color: #F39C12;

  padding: 0.5rem 2rem;
}

.mobileNavLink {  
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  line-height: 1.5;
  font-weight: 300;
  color: white;

  text-decoration: none;
}

.mobileNavLink:hover {
  color: #152c46;
}

.mobileNavLink:not(:first-child) {
  padding-top: 0.5rem;
}

.externalNavLinkMobile {
  width: 100%;
  /* background-color: white;
  color: #F39C12; */
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .desktopNavLinksContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    width: 50%;
    flex-grow: 1;

    /* New */
    height: 100%;
    background: #F39C12;
  }

  .desktopNavLink {
    font-size: clamp(0.75rem, 1.5vw, 1rem);
    line-height: 1.5;
    font-weight: 300;
    color: white;
    margin: 0 1rem;

    text-decoration: none;

    /* NEW */
    height: 100%;
    display: flex;
    align-items: center;
  }

  .desktopNavLink:hover {
    color: #152c46;
  }

  .desktopNavLink:last-child {
    margin-right: 0px;
  }

  .externalNavLinkDesktop {
    background-color: white;
    color: #F39C12;

    /* NEW */
    margin-left: 0;
    padding: 0 2rem;
    font-weight: 500;
  }

  .mobileMenu {
    display: none;
  }
}