/* General Containers */

#missionSection {
  min-height: 100%;
  padding: 0px;
  flex-direction: column-reverse;
}

.missionSubsection {
  width: 100%;
  min-height: 100vw;
  padding: 25px;
}

/* Text */

#missionTextSubsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  column-gap: 20px;
  row-gap: 15px;

  background-color: #152c46;

  outline-offset: -10px;
  outline: 1px solid #F39C12;
}

.missionText {
  font-family: Arial, Helvetica, sans-serif;
  color: #F39C12;
  text-align: center;
}

#missionTitle {
  font-size: 8vw;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

#missionSubtitle {
  font-size: 4vw;
  line-height: 1.5;
  color: white;
}

.boldText {
  display: inline;
  font-weight: 700;
  font-style: italic;
}

@media only screen and (min-width: 768px) {

/* General  */

  #missionSection {  
    min-height: 100%;
    flex-direction: row;
  }

  .missionSubsection {
    width: 50vw;
    min-height: 50vw;
    padding: 50px;

    overflow-y: scroll;
  }

  /* Text */

  #missionTextSubsection {
    outline-offset: -25px;
  }

  #missionTitle {
    font-size: 3.5vw;
    margin-bottom: 1rem;
    line-height: 1.5;
  }

  #missionSubtitle {
    font-size: 1.8vw;
    line-height: 1.6;
  }

}
