/* General Containers */

.footerContainer {
  width: 100%;
  min-height: 100%;
  padding-block: 2rem;

  background-color: #152c46;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  top: 75px;
}

.footerContentContainer {
  width: min(90%, 1200px);
  min-height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  row-gap: 1rem;
}

.footerLinksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  column-gap: 0.75rem;
  row-gap: 0.5rem;

}

.footerSocialIconsContainer {
  display: flex;
  flex-direction: row;

}

.footerLink, .socialLink, .footerSocialIcon, .footerText  {
  font-weight: 300;
  text-align: left;

  font-size: clamp(1rem, 2.5vw, 1.5rem);
  line-height: 1.5;
  font-weight: 300;
  color: white;

  margin: 0 1rem;
  text-decoration: none;
}
 
.footerLink:last-child , .footerSocialIcon:last-child  {

  margin: 0;
}

@media only screen and (min-width: 1024px) {

  .footerContainer {
    top: 80px;
  }

  .footerLinksContainer {
    flex-direction: row;
  }

  .footerLink, .socialLink, .footerSocialIcon, .footerText {
    font-size: clamp(0.75rem, 1.5vw, 1rem);
  }
}