#panoramaSection {
  width: 100vw;
}


@media only screen and (min-width: 768px) {
  #panoramaSection {
    height: calc(100vw * 9 / 16);

    background-image: url('/images/logos/AWOKEN-logo-seamless-pattern-orange.png');
    background-size: contain;
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;

    outline: 1px solid white;
    outline-offset: -25px;
  }
}