/* General Containers */

#platformSection {
  min-height: 100%;
  padding: 0px;
  flex-direction: column;
}

.platformSubsection {
  width: 100%;
  min-height: 100vw;
  padding: 25px;
}

/* Text */

#platformTextSubsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  background-color: white;

  outline-offset: -10px;
  outline: 1px solid #F39C12;
}

.platformCarouselTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  column-gap: 20px;
  row-gap: 15px;

  position: relative;
  bottom: -50px;
}

.platformText {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#platformCarouselTitle, #platformTitle {
  font-size: 8vw;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 0.5rem;

  color: #F39C12;
}

#platformCarouselSubtitle, #platformSubtitle {
  font-size: 4vw;
  line-height: 1.5;
}

#platformSubtitle {
  color: #555;
}

#platformCarouselSubtitle {
  color: white;
}

.italicText {
  display: inline;
  font-weight: 100;
  font-style: italic;
}

/* Carousel */

#platformCarouselSubsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background-color: #152c46;

  outline: 1px solid white;
  outline-offset: -10px;
}

#platformCarouselContainer {
  display: none;
}

/* Non-Carousel Image */

.platformCombinedImage {
  position: relative;
  bottom: -15px;
  filter: drop-shadow(3px 3px 5px #333)
}

@media only screen and (min-width: 768px) {

/* General Containers */

  #platformSection {
    min-height: 100%;
    flex-direction: row;
  }

  .platformSubsection {
    width: 50vw;
    min-height: 50vw;
    padding: 50px;
  
    overflow-y: scroll;
  }
  
  /* Text */

  .platformCarouselTextContainer {
    row-gap: 0px;
  
    position: relative;
    bottom: 12vh;
  
    background-color: transparent;
  }

  #platformTextSubsection {
    outline-offset: -25px;
  }

  #platformCarouselTitle, #platformTitle {
    font-size: 3.5vw;
    margin-bottom: 1rem;
  }

  #platformCarouselTitle {
    margin-bottom: 5px;
  }
  
  #platformCarouselSubtitle, #platformSubtitle {
    font-size: 1.8vw;
    line-height: 1.6;
  }


/* Carousel */

  #platformCarouselSubsection {
    background-image: none;
    background-color: #152c46;

    outline-offset: -25px;

    position: relative;
  }

  #platformCarouselContainer {
    display: flex;
    justify-content: flex-end;

    width: 50%;
    /* height: 30vw; */
    min-height: 30vw;

    outline: none;

    position: absolute;
    bottom: 25px;
  }

  #platformCarouselContainer:hover {
    outline: none;
  }

  .platformCarouselMedia {
    height: 100% !important;
    width: auto !important;
    object-fit: scale-down !important;
  }

  /* Non-Carousel Image */

  .platformCombinedImage {
    display: none;
  }

}